<h3>Volume</h3>

@if(volumeLoaded){
<div>
  <ngb-progressbar type="success" height="30px" value="{{currentVolume.volume}}">{{ currentVolume.volume }}%
  </ngb-progressbar>
  <div class="row">
    <div class="col-md-6">
      <button (click)="reduceVolume()" type="button" class="btn btn-secondary btn-md btn-block">
        <i class="fa fa-volume-down" aria-hidden="true"></i> Down
      </button>
    </div>
    <div class="col-md-6">
      <button (click)="increaseVolume()" type="button" class="btn btn-secondary btn-md btn-block">
        <i class="fa fa-volume-up" aria-hidden="true"></i> Up
      </button>
    </div>
  </div>
</div>
}
<br>
<h3>Backup MP3</h3>
<div class="card card-body bg-light"> {{ currentBackup?.backupFile }}</div>
<br>
<label class="btn btn-secondary">
  Change backup<input style="display:none;" type="file" name="backup" ng2FileSelect [uploader]="uploader"/>
</label>
@for (alert of alerts; track alert) {
<p>
  <ngb-alert [type]="alert.type" (close)="close(alert)">{{ alert.message }}</ngb-alert>
</p>
}

@for (item of uploader.queue; track item) {
<div>
  <div class="row top-buffer">
    <div class="col-xs-12 col-sm-6 col-md-8">
      <strong>{{ item?.file?.name }}</strong>
    </div>
  </div>
  <div class="row top-buffer">
    <div class="col-xs-12 col-sm-6 col-md-8">
      <button type="button" class="btn btn-success btn-md" (click)="item.upload()"
              [disabled]="item.isReady || item.isUploading || item.isSuccess">
        <i class="fa fa-upload"></i> Upload
      </button>
      <button type="button" class="btn btn-warning btn-md" (click)="item.cancel()" [disabled]="!item.isUploading">
        <i class="fa fa-ban"></i> Cancel
      </button>
      <button type="button" class="btn btn-danger btn-md" (click)="item.remove()">
        <i class="fa fa-trash"></i> Remove
      </button>
    </div>
  </div>
  <div class="row top-buffer">
    <div class="col-md-12 col-md-6 col-md-6">
      <div class="progress">
        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
      </div>
    </div>
  </div>
</div>
}

