<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<nav class="navbar navbar-expand-md navbar-light">
  <a class="navbar-brand" routerLink="homepage">Piclodio</a>
  <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [ngbCollapse]="!isNavbarCollapsed" class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link
" routerLink="/homepage" routerLinkActive="active"><i class="fa-solid fa-home"></i> Homepage</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/webradio" routerLinkActive="active"><i class="fa-solid fa-music"></i> Internet Radio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/alarm" routerLinkActive="active"><i class="fa-solid fa-bell"></i> Alarm</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/option" routerLinkActive="active"><i class="fa-solid fa-cog"></i> Option</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
